[user]
  name = Marcos Augusto
  email = x@nofxx.com
[i18n]
   commitencoding = UTF8
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  bs = bisect
  cp = cherry-pick
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
[merge]
  tool = opendiff
  summary = true
